.container {
  width: 710px;
}

body {
  background: url('/assets/background.jpg');
  background-size: 2600px;
}

header {
  padding-top: 20px;
}

img {
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 5px;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  border-radius: 5px;
}

section h1 {
  font-size: 200%;
}

/* Liens */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: left;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
  border-radius: 5px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* pied de page */

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
  clear:both;
}

footer nav {
  float: none;
  border-radius: 5px;
}

/* vote */

.glyphicon-thumbs-up {
  color: green;
}

.glyphicon-thumbs-down {
  color: #CC0000;
}

.dropdown .glyphicon-thumbs-up {
  color: green;
  float: left;
}

.dropdown .glyphicon-thumbs-down {
  color: #CC0000;
  float: right;
}
/* Tableau */

.table {
  margin-left: -80px;
}

td {
  text-align: center;
  border : 0.5px solid black;
}

/* équipe */

.thumbnail {
  text-align: center;
  background: url('/assets/silver.jpg');
  background-size: 440px;
}

#gold .thumbnail {
  background: url('/assets/gold.jpg');
  background-size: 320px;
}

.alert-success {
  color: green;
  text-align: center;
  background-color: rgb(154,205,50);
  border: 0.5px solid green;
  border-radius: 5px;
}

.alert-danger {
  color: red;
  text-align: center;
  background-color: #FF6666;
  border: 0.5px solid red;
  border-radius: 5px;
}