<h1>Réglement</h1>
<h3>Règles pour les votes</h3>
<ul>
  <li><strong>Article n°1 :</strong> Chaque participant au vote a en sa possession un pouce vert et un pouce rouge a délivré à chaque joueur pour chaque défi.</li>
  <li><strong>Article n°2 :</strong> Un joueur ne peut voter pour lui même.</li>
  <li><strong>Article n°3 :</strong> 5 invités pourront ou non participer au vote.</li>
</ul>
<h3>Règles pour le classment</h3>
<ul>
  <li><strong>Article n°4 :</strong> A la cloture des votes pour chaque défi, le pécheur qui comptabilisera le plus de pouce vert gagnera 3pts, le second 2pts et le troisième 1pt.</li>
  <li><strong>Article n°5 :</strong> En cas d'égalité pour un défi, les joueurs gagneront le même nombre de point.</li>
  <li><strong>Article n°6 :</strong> A la fin des 7 défis, le classement sera effectué en fonction du nombre de point gagné. Si égalité subsiste, la différence des pouces verts aux pouces rouges départagera.</li>
</ul>