<h1>Le Classement</h1>

<% @table = Table.order(:pts).reverse_order %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <th colspan="8">Classement Défis</th>
    </thead>
    <tbody>
      <tr>
        <td>#</td>
        <td>Prenom</td>
        <td>Nb.d.</td>
        <td><span class="glyphicon glyphicon-thumbs-up" role="button"></span></td>
        <td><span class="glyphicon glyphicon-thumbs-down" role="button"></span></td>
        <td>Diff.</td>
        <td>Diff.moy.</td>
        <td>Pts.</td>
      </tr>
      <tr>
        <td>1</td>
        <td>@table.user(1)</td>
        <td></td>
        <td>@table.green.to_i</td>
        <td>@table.red.to_i</td>
        <td>@table.green.to_i - @table.red.to_i</td>
        <td>(@table.green.to_i - @table.red.to_i)</td>
        <td>@table.pts(1)</td>
      </tr>
      <tr>
        <td>2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>3</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>4</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>6</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>7</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
