<h1>Accueil</h1>
<p>
  Le retour de la fine équipe crée la surprise en revenant sur les planches. En vue, les vacances d'été du mois d'août. Ils reviennent avec un max de surprises en poche et surtout des défis, le thème de ces vacances est :
</p>
<h2> Les 7 Péchés Capitaux </h2>
<p>
  Par conséquent, nous avons recruté un nouvel ancien pour répondre aux éxigences du thème. Et oui cette année il nous faut 7 pécheurs, le personnage mystère sera à découvrir dans les présentations de la fine équipe.
</p>
<p>
  Cette année nous irons de surprise en surprise, déjà avec la création de ce site internet mais avec de nouvelles règles! Un petit jeu en plus des défis!
  Ce jeu consiste à élire pour chaque défi le meilleur pécheur, les règles seront détaillées dans la section <a href="http://sept-anus.herokuapp.com/about">réglement</a>^^. Le classement sera mis à jour au cours de chaque vote. <strong>A VOUS DE JOUER !</strong>
</p>
<h3>
  Le compte à rebours a commencé ! il vous reste plus que :
</h3>
<div id="countdown"></div>
